@font-face {
    font-family: 'TheGirlNextDoor-Regular';
    src: url('./TheGirlNextDoor-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-Regular.woff2') format('woff2'),
        url('EBGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-overflow: black;
    --color-base: #FFD1DC; /*background color*/
    --color-surface: black; /*color for buttons / padding*/
    --primary: #D6D1FF; /*button text color*/
  
    --background-color: var(--color-surface);
  
    --nav-background-color:#FFDED1; /*background color of nav when it's toggled*/
    --nav-height: 48px; 
    --rhythm: 1.5rem; /*sets consistent vertical spacing*/
}
* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-base);
    margin: var(--rhythm);
    font-family: 'TheGirlNextDoor-Regular', sans-serif;
    line-height: var(--rhythm);
}
header {
   background-color: var(--color-base);
   color: black;
   margin: 0;
   width: 100%;
   position: relative;
   text-align: center;
   line-height: var(--rhythm);
}
header h1 {
    margin: 0;
    padding: 10px;
    font-family: 'EBGaramond-Regular.woff2', sans-serif;
}

header p,h3 {
    padding: 0 var(--rhythm);
}

body h1 {
    padding: var(--rhythm);
}
body h2 {
    margin:0;
    padding: var(--rhythm) 0;
}
body h3 {
    padding: 0 0 var(--rhythm) 0;
}

a {
    color: var(--primary);
    font-size: 30px;
}

footer, .nav {
    margin: var(--rhythm);
    text-align: center;
    background-color: var(--color-surface);
    padding: 20px;
    border-radius: 15px;
    bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.nav li, footer li {
    margin-bottom: 1rem;
}
.layout {
    margin: 0 10px;
}

.aboutme {
    padding: var(--rhythm);
}

.abtmeimages {
    text-align: center;
    max-width: 100%;
    height: auto;
}

.nextto {
    text-align: center;
}

/*puts images next to each other while keeping them centered */
.nextto img {
    display: inline-block;
    margin: 0;
    width: 150px;
    height: 110px;
    border-radius: 10px;
}

/*font for resume*/
.resume {
    font-family: 'Times New Roman', Times, serif;
}

.resume h2,h3,p {
    padding: 0;
    margin: 0;
}
/*hamburger code inspired by Professor Sinatra*/
/*hamburger navigation*/
.hamburger {
    cursor: pointer; /*changes the cursor when hovering over the hamburger to indicate that it is clickable*/
    height: 20px; 
    position: absolute; /*allows the position of the hamburger to be 1rem from the top right*/
    right: 1rem; 
    top: 1rem;
    width: 26px; /*sets the width of the hamburger*/
    z-index: 1001; /*positions the container of the hamburger to be higher than other elements*/
}

.hamburger svg {
    fill: var(--color-surface); /*fills the color of the hamburger svg with black*/
    display: block;
    width: 100%;
    height: 100%;
}

nav {
    background: var(--nav-background-color);
    height: 100vh;
    margin-block-start: var(--nav-height);
    width: 300px;

    position: fixed;
    right: -300px;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 0;
}

nav a {
    color: black;
    display: block;
    font-size: 1.25rem;
    padding-block: 1rem;
    padding-inline: 1rem;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--nav-background-color);
    color: black;
}

/*toggle nav visibility when checkbox is checked*/
.nav-toggle:checked ~ nav {
    right: 0; /*show the navigation when checked*/
}

/*hamburger to 'X' transition*/
.nav-toggle:checked ~ .hamburger svg rect:nth-child(1) {
    transform: translate(13px, 0px) rotate(45deg);
    top: -2px;
}

.nav-toggle:checked ~ .hamburger svg rect:nth-child(2) {
    opacity: 0;
}

.nav-toggle:checked ~ .hamburger svg rect:nth-child(3) {
    transform: translate(-4px, 7px) rotate(-45deg);
}

.nav-toggle {
    display: none; /*hide the checkbox*/
}







